*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }
  .col_banner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0.1, 0.1, 0.1, 0.4), rgba(0.1, 0.1, 0.1, 0.1)), url("/assets/images/alyssa-strohmann-TS--uNw-JqE-unsplash.jpg");
    background-position: center;
    background-size: cover;
    }
  
  .col_content{
    font-family: 'Didot', serif; 
    font-size: 26px;
    margin:0 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgb(255, 255, 255);
    }
  .col_content a{
    text-decoration: none;
    color: white;
    }
  .shop_btn{
    font-size: 16px;
    width: 100px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .ach_card{
        margin:0 auto;
        width: 55%;
        z-index: 2;
        margin-top: -100px;
        box-shadow: 2px 3px 5px rgba(0.1, 0.1, 0.1, 0.3);
        background-color: white;
        margin-bottom: 100px;
      }
      .ach_container{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items:center;
        text-align: center;
        margin:auto;
        width:80%;
        flex-wrap: wrap;
      }
      .ach{
        text-align:center;
        display:flex;
        justify-content:center;
        align-items:center;
        width: 200px;
        height: 100px;
         margin: 30px auto;
        box-shadow: 2px 3px 5px rgba(0.1, 0.1, 0.1, 0.3);
        flex-direction: column;
      }
      
      .ach svg{
        fill: rgb(126, 124, 124);
      }

      .ach:hover{
        transform: scale(1.15);
      }

      @media(max-width:800px){
        .ach_card{
            margin-top: 50px;
            width: 100%;
        }
      }

      .grid{
        text-align:center;
        margin:100px 110px;
      }
      .grid_wrapper{
          width: 100%;
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(3, 1fr);
      }
      .grid_span_2{
        grid-column: span 2;
      }
      .grid_wrapper div:nth-child(3){
        grid-column-start:3;
        grid-row-start:1;
        grid-row-end:3;
        height:420px;
        background-image: url("/assets/images/viktor-hesse-9bnuldS5QfM-unsplash.jpg");
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size:cover;
      }
        .grid_wrapper div:nth-child(2){
          background-image: url("/assets/images/All-matching\ Solid\ Color\ Crossbody\ Bag\ Women\ -\ Small\,\ Black.jpeg");
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          color: white;
          font-size: 13px;
          background-position: center;
          background-size:cover;
        }
      .grid_wrapper div:first-child{
          background-image: url("/assets/images/kishor-woV4DfKtaGE-unsplash.jpg");
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          color: white;
          font-size: 13px;
          background-position: center;
          background-size:cover;
      }
      .grid_wrapper div:last-child{
          background-image: url("/assets/images/james-baldwin-b9vkGONY4eI-unsplash.jpg");
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          background-position: center;
          background-size:cover;
      }
      .grid_card{
        transition: ease-in-out 0.7s;
        height:200px;
        text-align:left;
        padding:30px;
      }
      .grid_card:hover{
        transform: scale(1.12);
      }
      .grid_card a{
        margin: 10px 0;
        font-size: 16px;
        width: 100px;
        height: 30px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        
      }
      @media(max-width:800px){
        .grid_wrapper{
          display: block;
        }
        .grid_card{
          margin: 20px auto;
        }
      }